*.cue
*.iso
compile_commands.json
dump.bin
build/*
*.adp
*.AUD
*.BIN
*.LAD
*.LADP
*-1bit
*-2bit
*-4bit
work/sound_driver/adp68k.bin
work/sound_driver/adp68k.elf

adpencode
adpencode.exe
adplink
adplink.exe
